
/* Common rules */
* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2d4d4b;
  border-radius: 25px;
}

body {
  width: 100vw;
  height: 100vh;
}

/* Message Popup */
.message-popup{
  position: absolute;
  top: 10px;
  left: 40%;
  z-index: 200;
  width: max(300px, 20%);
  height: 50px;
  background-color: #00b400;
  color: #e8e8ee;
}